<div class="p-4">
    <div class="recipes-grid">
        <h2>Recettes</h2>
    </div>
    <!-- Recipe Cards Grid -->
    <div class="recipes-grid">
        @for (recipe of recipes$ | async; track recipe.id) {
            <div class="card">
                <a [routerLink]="['/recipes', recipe.id]" class="recipe-card-link">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ recipe.name | titlecase }}</h5>

                        <div class="d-flex justify-content-center mb-3">
                            @if (recipe.vegetarian) {
                                <img src="assets/recipe_vege.png" alt="Plat végétarien" width="120"/>
                            } @else {
                                <img src="assets/recipe_meat.png" alt="Plat non végétarien" width="120"/>
                            }
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="info-left">
                                <div class="category">{{ (recipe.category | titlecase) || 'Divers' }}
                                    @if (recipe.vegetarian) {
                                        <span class="m-1 badge rounded-pill bg-green-light">V</span>
                                    }
                                </div>
                                <div class="servings">{{ recipe.servings }} parts</div>
                            </div>
                            <div class="seasons-grid season-emojis">
                                @for (season of getSeasonsToDisplay(recipe.season); track season) {
                                    <span class="emoji" [class]="season.toLowerCase()">{{ getSeasonEmoji(season) }}</span>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
