@if (food(); as food ) {
    <h2 class="mb-3">{{ food.name }}</h2>

    <table class="table">
        <caption>Valeurs nutritionnelles pour 100g</caption>
        <thead>
            <tr>
                <th scope="col">Kcal</th>
                <th scope="col">Protéines</th>
                <th scope="col">Lipides</th>
                <th scope="col">Glucides</th>
                <th scope="col">Sucres</th>
                <th scope="col">Fibres</th>
                <th scope="col">Sel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ food.nutrientsPer100.energyKcal }}</td>
                <td>{{ food.nutrientsPer100.proteins }}</td>
                <td>{{ food.nutrientsPer100.fats }}</td>
                <td>{{ food.nutrientsPer100.carbohydrates }}</td>
                <td>{{ food.nutrientsPer100.sugars }}</td>
                <td>{{ food.nutrientsPer100.fibers }}</td>
                <td>{{ food.nutrientsPer100.salt }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h3>Portions</h3>
        @if (measures(); as measures) {
            <ul class="list-group mb-3">
                @for (measure of measures; track measure.id) {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ measure.label }} - {{ measure.grams }}g
                        <button class="btn btn-sm btn-outline-primary" (click)="editMeasure(measure)">Modifier</button>
                    </li>
                }
            </ul>
        }
        <button class="btn btn-primary" (click)="addMeasure()">Ajouter une portion</button>
    </div>
    <div>
        <button class="float-end btn btn-danger" disabled (click)="remove()">Supprimer</button> <!-- TODO : remove all relations linked to food before deleting -->
        <button class="float-end btn btn-secondary" (click)="edit()">Modifier</button>
    </div>

} @else {
    <h2>Aucune nourriture trouvée</h2>
}
