<input #menuToggle type="checkbox" id="menu-toggle" class="menu-toggle"/>

<header class="navbar navbar-dark bg-green ps-3">
    <label for="menu-toggle" class="menu-button d-lg-none">
        <span class="hamburger"></span>
    </label>
    <a routerLink="/" class="navbar-brand font-cinzel fw-bold text-white">La taverne de May</a>
</header>

<div class="layout">

    <!-- sidebar -->
    <aside class="sidebar">
        <div class="logo-wrapper">
            <img src="assets/may_picto.png" class="logo-img"/>
        </div>

        <div class="p-3">
            <app-link display="btn" label="Créer une recette" routerLink="/recipes/add" iconName="create_recipe.png" iconSize="l"></app-link>

            <ul class="nav mt-2">
                @for (link of links; track link) {
                    <li class="w-100">
                        <app-link display="list" (click)="closeMenu(menuToggle); goToAllRecipes(link.path)" [label]="link.title" [routerLink]="link.path" [iconName]="link.icon" iconSize="l"> </app-link>
                    </li>
                }
            </ul>
        </div>
    </aside>

    <!-- main -->
    <main class="main-area">
        <div>
            <app-search-filters></app-search-filters>
        </div>
        <div class="content-area p-4">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<label for="menu-toggle" class="menu-backdrop"></label>
