/* GRID FILTRES */
.filters-grid {
    display: grid;
    gap: 0.5rem;

    /* mobile par défaut */
    grid-template-columns: 1fr;
}

/* tablette */
@media (min-width: 576px) {
    .filters-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* desktop */
@media (min-width: 992px) {
    .filters-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* largeur complète des selects */

.filters-grid ng-select {
    min-width: 250px;
}

.input-group-text, .form-control {
    background-color: var(--cream);
    border: 1px solid var(--brown);
}

.form-control, .form-control::placeholder {
    color: var(--green);
    font-family: lydianbt;
    font-size: 18px;
}
