<div class="my-3">
    <form [formGroup]="filterForm" class="d-grid justify-content-center ">
        <!-- recherche -->
        <div class="search-row mb-2">
            <div class="input-group">
                <span class="input-group-text" id="text-filter"><app-icon name="search_lens.png" alt="" size="m"></app-icon></span>
                <input class="form-control" type="text" placeholder="Recherche" aria-label="Recherche des recettes" formControlName="name" maxlength="40" aria-labelledby="text-filter">
            </div>
        </div>
        <!-- filtres -->
        <div class="filters-grid">
            <ng-select class="customNgSelect select-form" [items]="categories" bindValue="id" placeholder="Catégorie" [searchable]="false" [closeOnSelect]="false" formControlName="category"> </ng-select>
            <ng-select class="customNgSelect select-form" [items]="seasons" bindValue="id" [multiple]="true" placeholder="Saison" [searchable]="false" [closeOnSelect]="false" formControlName="seasons">
                <ng-template ng-multi-label-tmp let-items="items">
                    <div class="ng-multi-label-tmp">Saison ({{ items.length }})</div></ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index"><input type="checkbox" id="opt-season-{{ index }}" class="me-1" [checked]="item$.selected">{{ item.label }}</ng-template>
            </ng-select>
            <ng-select class="customNgSelect select-form" [items]="vegetarianStatusOptions" bindValue="id" [multiple]="true" placeholder="Type" [searchable]="false" [closeOnSelect]="false" formControlName="vegetarianStatus">
                <ng-template ng-multi-label-tmp let-items="items">
                    <div class="ng-multi-label-tmp">Type ({{ items.length }})</div></ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index"><input type="checkbox" id="opt-type-{{ index }}" class="me-1" [checked]="item$.selected">{{ item.label }}</ng-template>
            </ng-select>
        </div>
    </form>
</div>
