<div class="search-filter-bar mb-4 p-3">
    <form [formGroup]="filterForm">
        <input class="form-control mb-2" type="text" placeholder="Recherche" aria-label="Recherche des recettes" formControlName="name" maxlength="40">
        <div class="select-row">
            <ng-select class="customNgSelect select-form" [searchable]="false" [closeOnSelect]="false" placeholder="Catégorie" [items]="categories" bindValue="id" formControlName="category"></ng-select>
            <ng-select class="customNgSelect select-form" [searchable]="false" [closeOnSelect]="false" placeholder="Saison" [items]="seasons" bindValue="id" [multiple]="true" formControlName="seasons">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-multi-label-tmp">Saison ({{ items.length }})</div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [checked]="item$.selected" /> {{ item.label }}
                </ng-template>
            </ng-select>
            <ng-select class="customNgSelect select-form" [searchable]="false" [closeOnSelect]="false" placeholder="Type" [items]="vegetarianStatusOptions" bindValue="id" [multiple]="true" formControlName="vegetarianStatus">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-multi-label-tmp">Type ({{ items.length }})</div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [checked]="item$.selected" /> {{ item.label }}
                </ng-template>
            </ng-select>
        </div>
    </form>
</div>
